$color-background-dark-1: #0d0f12;
$color-background-dark-2: #181c20;
$color-background-dark-3: #1e2429;
$color-texticon-ondark-primary: rgba(255, 255, 255, 0.9);
$color-texticon-ondark-secondary: rgba(255, 255, 255, 0.65);
$color-border-ondark-primary: rgba(255, 255, 255, 0.3);
$color-border-ondark-secondary: rgba(255, 255, 255, 0.15);

// $color-background-light-1: #f0f3f5;
$color-background-light-1: #f6f7f8;
$color-background-light-2: #dfeaf3;
$color-background-light-3: #ffffff;
$color-texticon-onlight-primary: rgba(0, 0, 0, 0.9);
$color-texticon-onlight-secondary: rgba(0, 0, 0, 0.65);
$color-border-onlight-primary: rgba(0, 0, 0, 0.3);
$color-border-onlight-secondary: rgba(0, 0, 0, 0.15);

$color-primary-light: #38bdf8;
// $color-primary-base: #0ea5e9;
$color-primary-base: #0f1c27;
$color-primary-base-10: rgba(#0f1c27, 0.1);
$color-primary-dark: #0284c7;
$color-status-success: #22c55e;
$color-status-warning: #fde047;
$color-status-error: #ef4444;
$color-status-info: #38bdf8;
