@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
