@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
}

.container-sm {
  max-width: 640px;
}

.container-md {
  max-width: 768px;
}

.container-lg {
  max-width: 1024px;
}

.container-xl {
  max-width: 1280px;
}

.container-2xl {
  max-width: 1536px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-fill {
  -o-object-fit: fill;
     object-fit: fill;
}

.object-none {
  -o-object-fit: none;
     object-fit: none;
}

.object-scale-down {
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.object-bottom {
  -o-object-position: bottom;
     object-position: bottom;
}

.object-center {
  -o-object-position: center;
     object-position: center;
}

.object-left {
  -o-object-position: left;
     object-position: left;
}

.object-left-bottom {
  -o-object-position: left bottom;
     object-position: left bottom;
}

.object-left-top {
  -o-object-position: left top;
     object-position: left top;
}

.object-right {
  -o-object-position: right;
     object-position: right;
}

.object-right-bottom {
  -o-object-position: right bottom;
     object-position: right bottom;
}

.object-right-top {
  -o-object-position: right top;
     object-position: right top;
}

.object-top {
  -o-object-position: top;
     object-position: top;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-x-visible {
  overflow-x: visible;
}

.overflow-y-visible {
  overflow-y: visible;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-col-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.flex-initial {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.flex-none {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.flex-grow-0 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.flex-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-shrink-0 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.flex-shrink {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.justify-items-auto {
  justify-items: auto;
}

.justify-items-start {
  justify-items: start;
}

.justify-items-end {
  justify-items: end;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-stretch {
  justify-items: stretch;
}

.justify-self-auto {
  -ms-grid-column-align: auto;
      justify-self: auto;
}

.justify-self-start {
  -ms-grid-column-align: start;
      justify-self: start;
}

.justify-self-end {
  -ms-grid-column-align: end;
      justify-self: end;
}

.justify-self-center {
  -ms-grid-column-align: center;
      justify-self: center;
}

.justify-self-stretch {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.content-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.content-start {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.content-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.content-between {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.content-around {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.content-evenly {
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.self-auto {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

.self-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.self-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.self-stretch {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.place-content-center {
  place-content: center;
}

.place-content-start {
  place-content: start;
}

.place-content-end {
  place-content: end;
}

.place-content-between {
  place-content: space-between;
}

.place-content-around {
  place-content: space-around;
}

.place-content-evenly {
  place-content: space-evenly;
}

.place-content-stretch {
  place-content: stretch;
}

.place-items-auto {
  place-items: auto;
}

.place-items-start {
  place-items: start;
}

.place-items-end {
  place-items: end;
}

.place-items-center {
  place-items: center;
}

.place-items-stretch {
  place-items: stretch;
}

.place-self-auto {
  place-self: auto;
}

.place-self-start {
  place-self: start;
}

.place-self-end {
  place-self: end;
}

.place-self-center {
  place-self: center;
}

.place-self-stretch {
  place-self: stretch;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-7 {
  padding: 1.75rem;
}

.p-8 {
  padding: 2rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.pl-8 {
  padding-left: 2rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.m-auto {
  margin: auto;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.m-7 {
  margin: 1.75rem;
}

.m-8 {
  margin: 2rem;
}

.mt-auto {
  margin-top: auto;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mr-auto {
  margin: right;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mb-auto {
  margin-bottom: auto;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-auto {
  margin-left: auto;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.ml-8 {
  margin-left: 2rem;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.space-x-0 {
  width: 0;
}

.space-x-1 {
  width: 0.25rem;
}

.space-x-2 {
  width: 0.5rem;
}

.space-x-3 {
  width: 0.75rem;
}

.space-x-4 {
  width: 1rem;
}

.space-x-5 {
  width: 1.25rem;
}

.space-x-6 {
  width: 1.5rem;
}

.space-x-7 {
  width: 1.75rem;
}

.space-x-8 {
  width: 2rem;
}

.space-y-0 {
  height: 0;
}

.space-y-1 {
  height: 0.25rem;
}

.space-y-2 {
  height: 0.5rem;
}

.space-y-3 {
  height: 0.75rem;
}

.space-y-4 {
  height: 1rem;
}

.space-y-5 {
  height: 1.25rem;
}

.space-y-6 {
  height: 1.5rem;
}

.space-y-7 {
  height: 1.75rem;
}

.space-y-8 {
  height: 2rem;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-18 {
  height: 4.5rem;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 5;
}

.bg-white {
  background-color: white;
}

.bg-red {
  background-color: red;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

:root {
  --color-background-1: #f6f7f8;
  --color-background-2: #fafafc;
  --color-background-3: #ffffff;
  --color-texticon-primary: rgba(0, 0, 0, 0.9);
  --color-texticon-secondary: rgba(0, 0, 0, 0.65);
  --color-status-success: #22c55e;
  --color-status-warning: #fde047;
  --color-status-error: #ef4444;
  --color-status-info: #38bdf8;
  --color-primary-light: #38bdf8;
  --color-primary-base: #0f1c27;
  --color-primary-base-10: rgba(15, 28, 39, 0.1);
  --color-primary-base-5: rgba(15, 28, 39, 0.05);
  --color-primary-dark: #0284c7;
}

html {
  line-height: 1.15;
}

body {
  background-color: var(--color-background-2);
  color: var(--color-primary-base);
  margin: 0 auto;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.15;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
}

textarea {
  resize: vertical;
  min-height: 12rem;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.card-subtitle, .card-reviews, .card-description {
  color: var(--color-primary-base);
  opacity: 0.7;
}

.rounded-full, .avatar {
  border-radius: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.space-y-1 {
  text-align: center;
  height: 1rem;
}

.space-x-1 {
  text-align: center;
  width: 1rem;
}

.space-x-0-5 {
  text-align: center;
  width: 0.5rem;
}

.divider {
  height: 1px;
  width: 90%;
  margin: 0.5rem auto;
  background-color: rgba(0, 0, 0, 0.1);
}

.avatar-image {
  width: 3rem;
  height: 3rem;
}

.avatar-image-2xs {
  width: 1rem;
  height: 1rem;
}

.avatar-image-xs {
  width: 1.5rem;
  height: 1.5rem;
}

.avatar-image-sm {
  width: 2rem;
  height: 2rem;
}

.avatar-image-md {
  width: 3rem;
  height: 3rem;
}

.avatar-image-lg {
  width: 4rem;
  height: 4rem;
}

.avatar-image-xl {
  width: 6rem;
  height: 6rem;
}

.avatar-image-2xl {
  width: 8rem;
  height: 8rem;
}

.avatar-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: auto;
}

.avatar-group-item {
  border: 5px solid var(--color-background-3);
  margin-left: -1rem;
}

.avatar-group-item:last-child {
  margin-left: 0;
}

.alert {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 1rem 2rem;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  background-color: rgba(15, 28, 39, 0.1);
}

.alert-icon {
  margin-right: 1rem;
  margin-left: -1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.alert-success {
  background-color: rgba(34, 197, 94, 0.4);
}

.alert-warning {
  background-color: rgba(253, 224, 71, 0.4);
}

.alert-error {
  background-color: rgba(239, 68, 68, 0.4);
}

.alert-info {
  background-color: rgba(56, 189, 248, 0.4);
}

.badge {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(15, 28, 39, 0.1);
  text-transform: uppercase;
  color: var(--color-texticon-secondary);
}

.badge-default {
  background-color: rgba(99, 102, 241, 0.2);
}

.badge-success {
  background-color: rgba(34, 197, 94, 0.2);
}

.badge-warning {
  background-color: rgba(253, 224, 71, 0.2);
}

.badge-error {
  background-color: rgba(239, 68, 68, 0.2);
}

.badge-info {
  background-color: rgba(56, 189, 248, 0.2);
}

.avatar-badge-stack {
  position: relative;
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.avatar-badge {
  position: absolute;
  border-radius: 100%;
  border: 3px solid var(--color-background-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

.avatar-badge-xs {
  width: 0.5rem;
  height: 0.5rem;
  bottom: 0px;
  right: 0px;
  font-size: 0.25rem;
}

.avatar-badge-sm {
  width: 0.5rem;
  height: 0.5rem;
  bottom: 0px;
  right: 0px;
  font-size: 0.25rem;
}

.avatar-badge-md {
  width: 0.75rem;
  height: 0.75rem;
  bottom: 0px;
  right: 0px;
  font-size: 0.5rem;
}

.avatar-badge-lg {
  width: 1rem;
  height: 1rem;
  bottom: 1px;
  right: 1px;
  font-size: 0.5rem;
}

.avatar-badge-xl {
  width: 1.5rem;
  height: 1.5rem;
  bottom: 1px;
  right: 1px;
  font-size: 0.75rem;
}

.avatar-badge-2xl {
  width: 1.75rem;
  height: 1.75rem;
  bottom: 1px;
  right: 1px;
}

.avatar-badge-available {
  background-color: #22c55e;
}

.avatar-badge-busy {
  background-color: #ef4444;
}

.avatar-badge-idle {
  background-color: #fde047;
}

.icon-badge-stack {
  position: relative;
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: visible;
}

.icon-badge-stack .icon {
  font-size: 2.25rem;
  margin-top: 3px;
}

.icon-badge {
  position: absolute;
  border-radius: 100%;
  border: 2px solid var(--color-background-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  background-color: var(--color-background-2);
  width: 1.2rem;
  height: 1.2rem;
  top: 0px;
  right: -2px;
  font-size: 0.675rem;
}

.icon-badge-dark {
  border: 2px solid var(--color-primary-base);
  color: var(--color-primary-base);
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.125rem 1.875rem;
  min-width: 10rem;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--color-primary-base);
}

.btn-large {
  padding: 30px 36px;
  min-width: 20rem;
}

.btn-small {
  padding: 0.75rem 1rem;
  min-width: 6rem;
}

.btn-solid {
  background-color: var(--color-primary-base);
  border: 2px solid var(--color-primary-base);
  color: white;
}

.btn-solid:hover {
  background-color: rgba(26, 48, 67, 0.8);
  border-color: rgba(26, 48, 67, 0.8);
  -webkit-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}

.btn-solid-light {
  color: var(--color-primary-base);
  background-color: white;
}

.btn-solid-light:hover {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}

.btn-outlined {
  border: 2px solid var(--color-primary-base);
}

.btn-outlined:hover {
  background-color: var(--color-primary-base);
  color: white;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.btn-ghost:hover {
  background-color: var(--color-primary-base-10);
  -webkit-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}

.btn-link:hover {
  opacity: 0.6;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.btn-icon-left {
  margin-right: 0.75rem;
}

.btn-icon-right {
  margin-left: 0.75rem;
}

.btn-icon {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.btn-icon > span {
  margin: auto;
}

.card-container {
  position: relative;
}

.card-text-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 20rem;
  margin-top: -2rem;
  z-index: 99;
}

.card-text-overlay > span {
  margin: auto;
  font-size: 3rem;
  color: white;
  opacity: 1;
}

.modal {
  max-width: 30rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-height: 20rem;
  height: auto;
}

@media screen and (max-width: 640px) {
  .card {
    max-height: 14rem;
  }
}

.card-alt {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-height: 100%;
  margin: 3rem 0;
}

.card-alt > img {
  width: 25%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.card-alt > div {
  padding: 1rem;
}

@media screen and (max-width: 1024px) {
  .card-alt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-alt > img {
    width: 100%;
  }
}

.card-stats {
  margin-top: 0.75rem;
}

.card-badge {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  text-transform: uppercase;
  background-color: var(--color-primary-base);
  color: white;
  padding: 0.5rem 1.25rem;
}

.card-badge-secondary {
  color: #1a3043;
  font-weight: 600;
  background-color: inherit;
  border: 0px;
  cursor: pointer;
}

.card-image {
  max-height: 20rem;
  max-width: 12.5rem;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

@media screen and (max-width: 640px) {
  .card-image {
    max-height: 12rem;
    max-width: 7.5rem;
  }
}

.card-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color-background-3);
  padding: 1rem;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 640px) {
  .card-content {
    padding: 1rem;
  }
}

.card-menu-btn {
  padding: 0.5rem;
  margin-left: auto;
}

.card-subtitle {
  margin: 0;
}

@media screen and (max-width: 640px) {
  .card-subtitle {
    font-size: 0.75rem;
  }
}

.card-rating {
  font-size: 1rem;
}

.card-rating-yellow {
  color: #ff9400;
}

.card-rating-gray {
  color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 640px) {
  .card-rating {
    display: none;
  }
}

.card-reviews {
  margin: 0;
}

@media screen and (max-width: 640px) {
  .card-reviews {
    display: none;
  }
}

.card-title {
  margin: 0.25rem 0;
  font-size: 1.125rem;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-primary-base);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 640px) {
  .card-title {
    font-size: 1rem;
  }
}

.card-price {
  margin: 0.5rem 0;
  font-weight: 600;
  opacity: 0.9;
}

.card-price-original {
  opacity: 0.3;
  text-decoration: line-through;
}

@media screen and (max-width: 640px) {
  .card-price {
    margin: 0;
  }
}

.card-description {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 640px) {
  .card-description {
    display: none;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 4rem 0;
  -webkit-column-gap: 6rem;
          column-gap: 6rem;
  row-gap: 8rem;
  place-items: center;
}

@media screen and (max-width: 1024px) {
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 640px) {
  .grid {
    row-gap: 4rem;
  }
}

.grid-demo {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 50%;
}

@media screen and (max-width: 1024px) {
  .grid-demo {
    width: 100%;
  }
}

.input:focus-visible {
  outline: none;
  border: 2px solid red;
}

.input-label {
  display: block;
}

.input-field {
  display: block;
  margin-bottom: 1rem;
  opacity: 0.9;
  border: none;
  padding: 1.125rem 1.875rem;
  margin-top: 0.5rem;
  width: 50%;
}

@media screen and (max-width: 640px) {
  .input-field {
    width: 100%;
  }
}

.input-error {
  border: 2px solid red;
}

.stacked-list-item {
  max-width: 800px;
  border: 1px solid rgba(26, 48, 67, 0.1);
}

.spaced-list-item {
  max-width: 800px;
  margin: 1rem 0;
}
/*# sourceMappingURL=index.css.map */