@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
}

:root {
  --color-background-1: #edf3f8;
  --color-background-2: #f7f9fa;
  --color-background-3: #ffffff;
  --color-texticon-primary: rgba(0, 0, 0, 0.9);
  --color-texticon-secondary: rgba(0, 0, 0, 0.65);
  --color-status-success: #22c55e;
  --color-status-warning: #fde047;
  --color-status-error: #ef4444;
  --color-status-info: #38bdf8;
  --color-primary-light: #38bdf8;
  --color-primary-base: #1a3043;
  --color-primary-dark: #0284c7;
}

body {
  background-color: var(--color-background-1);
  color: var(--color-primary-base);
  max-width: 1280px;
  padding: 1rem;
  margin: auto;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
}

textarea {
  resize: vertical;
  min-height: 12rem;
}

.product-card-author, .product-card-reviews, .product-card-description {
  color: var(--color-primary-base);
  opacity: 0.7;
}

.rounded-full, .avatar {
  border-radius: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.space-y-1 {
  text-align: center;
  height: 1rem;
}

.space-x-1 {
  text-align: center;
  width: 1rem;
}

.space-x-0-5 {
  text-align: center;
  width: 0.5rem;
}

.avatar-image {
  width: 3rem;
  height: 3rem;
}

.avatar-image-2xs {
  width: 1rem;
  height: 1rem;
}

.avatar-image-xs {
  width: 1.5rem;
  height: 1.5rem;
}

.avatar-image-sm {
  width: 2rem;
  height: 2rem;
}

.avatar-image-md {
  width: 3rem;
  height: 3rem;
}

.avatar-image-lg {
  width: 4rem;
  height: 4rem;
}

.avatar-image-xl {
  width: 6rem;
  height: 6rem;
}

.avatar-image-2xl {
  width: 8rem;
  height: 8rem;
}

.avatar-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: auto;
}

.avatar-group-item {
  border: 5px solid var(--color-background-1);
  margin-left: -1rem;
}

.avatar-group-item:last-child {
  margin-left: 0;
}

.alert {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 1rem 2rem;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
}

.alert-icon {
  margin-right: 1rem;
  margin-left: -1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.alert-success {
  background-color: rgba(34, 197, 94, 0.4);
}

.alert-warning {
  background-color: rgba(253, 224, 71, 0.4);
}

.alert-error {
  background-color: rgba(239, 68, 68, 0.4);
}

.alert-info {
  background-color: rgba(56, 189, 248, 0.4);
}

.badge {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  color: var(--color-texticon-secondary);
}

.badge-default {
  background-color: rgba(99, 102, 241, 0.2);
}

.badge-success {
  background-color: rgba(34, 197, 94, 0.2);
}

.badge-warning {
  background-color: rgba(253, 224, 71, 0.2);
}

.badge-error {
  background-color: rgba(239, 68, 68, 0.2);
}

.badge-info {
  background-color: rgba(56, 189, 248, 0.2);
}

.avatar-badge-stack {
  position: relative;
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.avatar-badge {
  position: absolute;
  border-radius: 100%;
  border: 3px solid var(--color-background-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

.avatar-badge-xs {
  width: 0.5rem;
  height: 0.5rem;
  bottom: 0px;
  right: 0px;
  font-size: 0.25rem;
}

.avatar-badge-sm {
  width: 0.5rem;
  height: 0.5rem;
  bottom: 0px;
  right: 0px;
  font-size: 0.25rem;
}

.avatar-badge-md {
  width: 0.75rem;
  height: 0.75rem;
  bottom: 0px;
  right: 0px;
  font-size: 0.5rem;
}

.avatar-badge-lg {
  width: 1rem;
  height: 1rem;
  bottom: 1px;
  right: 1px;
  font-size: 0.5rem;
}

.avatar-badge-xl {
  width: 1.5rem;
  height: 1.5rem;
  bottom: 1px;
  right: 1px;
  font-size: 0.75rem;
}

.avatar-badge-2xl {
  width: 1.75rem;
  height: 1.75rem;
  bottom: 1px;
  right: 1px;
}

.avatar-badge-available {
  background-color: #22c55e;
}

.avatar-badge-busy {
  background-color: #ef4444;
}

.avatar-badge-idle {
  background-color: #fde047;
}

.icon-badge-stack {
  position: relative;
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.icon-badge-stack .icon {
  font-size: 2rem;
}

.icon-badge {
  position: absolute;
  border-radius: 100%;
  border: 1.5px solid var(--color-background-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  background-color: var(--color-primary-base);
}

.icon-badge-lg {
  width: 1rem;
  height: 1rem;
  top: -5px;
  right: -5px;
  font-size: 0.675rem;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.125rem 1.875rem;
  min-width: 10rem;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--color-primary-base);
}

.btn-large {
  padding: 30px 36px;
  min-width: 20rem;
}

.btn-solid {
  background-color: var(--color-primary-base);
  color: white;
}

.btn-solid:hover {
  background-color: var(--color-primary-dark);
  -webkit-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}

.btn-outlined {
  border: 2px solid var(--color-primary-base);
}

.btn-outlined:hover {
  background-color: var(--color-primary-base);
  color: white;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.btn-ghost:hover {
  background-color: rgba(38, 133, 239, 0.1);
  -webkit-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}

.btn-link:hover {
  text-decoration: underline;
}

.btn-icon-left {
  margin-right: 0.75rem;
}

.btn-icon-right {
  margin-left: 0.75rem;
}

.btn-icon {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.btn-icon > span {
  margin: auto;
}

.product-card-container {
  position: relative;
}

.out-of-stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 20rem;
  margin-top: -2rem;
  z-index: 99;
}

.out-of-stock > span {
  margin: auto;
  font-size: 3rem;
  color: white;
  opacity: 1;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-background-3);
  max-height: 16rem;
}

@media screen and (max-width: 640px) {
  .product-card {
    max-height: 14rem;
  }
}

.product-card-video {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-height: 100%;
  margin: 3rem 0;
}

.product-card-video > img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-card-video > div {
  padding: 1rem;
}

@media screen and (max-width: 1024px) {
  .product-card-video {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product-card-video > img {
    width: 100%;
  }
}

.product-card-stats {
  margin-top: 0.75rem;
}

.product-card-badge {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #1a3043;
  color: white;
  padding: 6px 22px;
}

.product-card-badge-secondary {
  color: #1a3043;
  font-weight: 600;
  background-color: inherit;
  cursor: pointer;
}

.product-card-image {
  max-height: 20rem;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

@media screen and (max-width: 640px) {
  .product-card-image {
    max-height: 16rem;
  }
}

.product-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 1.5rem 2rem 1.5rem;
  height: 100%;
}

@media screen and (max-width: 640px) {
  .product-card-content {
    padding: 2.25rem 1rem 1rem 1rem;
  }
}

.product-card-menu-btn {
  padding: 0.5rem;
  margin-left: auto;
}

.product-card-author {
  margin: 0.25rem 0;
}

.product-card-rating {
  font-size: 1rem;
}

.product-card-rating-yellow {
  color: #ff9400;
}

.product-card-rating-gray {
  color: rgba(0, 0, 0, 0.2);
}

.product-card-reviews {
  margin: 0;
}

.product-card-title {
  margin: 0.125rem 0;
  font-size: 1.125rem;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-primary-base);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-card-price {
  margin: 0.5rem 0;
  font-weight: 600;
  opacity: 0.9;
}

.product-card-price-original {
  opacity: 0.3;
  text-decoration: line-through;
}

@media screen and (max-width: 640px) {
  .product-card-price {
    margin: 0;
  }
}

.product-card-description {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 4rem 0;
  -webkit-column-gap: 6rem;
          column-gap: 6rem;
  row-gap: 8rem;
}

@media screen and (max-width: 1024px) {
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 640px) {
  .grid {
    row-gap: 4rem;
  }
}

.input:focus-visible {
  outline: none;
  border: 2px solid red;
}

.input-label {
  display: block;
}

.input-field {
  display: block;
  margin-bottom: 1rem;
  opacity: 0.9;
  border: none;
  padding: 1.125rem 1.875rem;
  margin-top: 0.5rem;
  width: 50%;
}

.input-error {
  border: 2px solid red;
}

.stacked-list-item {
  max-width: 800px;
  border: 1px solid rgba(26, 48, 67, 0.1);
}

.spaced-list-item {
  max-width: 800px;
  margin: 1rem 0;
}
/*# sourceMappingURL=index.css.map */