@import "_colors";
@import "_typography";
@import "_helper";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");

:root {
  --color-background-1: #{$color-background-light-1};
  --color-background-2: #{$color-background-light-2};
  --color-background-3: #{$color-background-light-3};
  --color-texticon-primary: #{$color-texticon-onlight-primary};
  --color-texticon-secondary: #{$color-texticon-onlight-secondary};
  --color-status-success: #{$color-status-success};
  --color-status-warning: #{$color-status-warning};
  --color-status-error: #{$color-status-error};
  --color-status-info: #{$color-status-info};
  --color-primary-light: #{$color-primary-light};
  --color-primary-base: #{$color-primary-base};
  --color-primary-base-10: #{$color-primary-base-10};
  --color-primary-base-5: #{$color-primary-base-5};
  --color-primary-dark: #{$color-primary-dark};
}

html {
  line-height: 1.15;
}

body {
  background-color: var(--color-background-2);
  color: var(--color-primary-base);
  margin: 0 auto;
}

// funnily Form Elements do not inherit font properties!!
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.15;
  margin: 0;
}

// button:focus {
//   outline: none;
// }

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
}

textarea {
  resize: vertical;
  min-height: 12rem;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

%secondary-text-color {
  color: var(--color-primary-base);
  opacity: 0.7;
}

.rounded-full {
  border-radius: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
}

.space-y-1 {
  text-align: center;
  height: 1rem;
}

.space-x-1 {
  text-align: center;
  width: 1rem;
}

.space-x-0-5 {
  text-align: center;
  width: 0.5rem;
}

.divider {
  height: 1px;
  width: 90%;
  margin: 0.5rem auto;
  background-color: rgba(0, 0, 0, 0.1);
}

.avatar {
  @extend .rounded-full;
  &-image {
    width: 3rem;
    height: 3rem;
    &-2xs {
      width: 1rem;
      height: 1rem;
    }
    &-xs {
      width: 1.5rem;
      height: 1.5rem;
    }
    &-sm {
      width: 2rem;
      height: 2rem;
    }
    &-md {
      width: 3rem;
      height: 3rem;
    }
    &-lg {
      width: 4rem;
      height: 4rem;
    }
    &-xl {
      width: 6rem;
      height: 6rem;
    }
    &-2xl {
      width: 8rem;
      height: 8rem;
    }
  }

  &-group {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    width: auto;
    &-item {
      border: 5px solid var(--color-background-3);
      margin-left: -1rem;
      &:last-child {
        margin-left: 0;
      }
    }
  }
}

.alert {
  max-width: fit-content;
  padding: 1rem 2rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: rgba(#0f1c27, 0.1);
  &-icon {
    margin-right: 1rem;
    margin-left: -1rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
  &-success {
    background-color: rgba(#22c55e, 0.4);
  }

  &-warning {
    background-color: rgba(#fde047, 0.4);
  }

  &-error {
    background-color: rgba(#ef4444, 0.4);
  }

  &-info {
    background-color: rgba(#38bdf8, 0.4);
  }
}

.badge {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(#0f1c27, 0.1);
  text-transform: uppercase;
  &-default {
    background-color: rgba(#6366f1, 0.2);
  }
  &-success {
    background-color: rgba(#22c55e, 0.2);
  }
  &-warning {
    background-color: rgba(#fde047, 0.2);
  }
  &-error {
    background-color: rgba(#ef4444, 0.2);
  }
  &-info {
    background-color: rgba(#38bdf8, 0.2);
  }
  color: var(--color-texticon-secondary);
}

.avatar-badge-stack {
  position: relative;
  display: inline-block;
  height: fit-content;
}

.avatar-badge {
  position: absolute;
  border-radius: 100%;
  border: 3px solid var(--color-background-1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  &-xs {
    width: 0.5rem;
    height: 0.5rem;
    bottom: 0px;
    right: 0px;
    font-size: 0.25rem;
  }
  &-sm {
    width: 0.5rem;
    height: 0.5rem;
    bottom: 0px;
    right: 0px;
    font-size: 0.25rem;
  }
  &-md {
    width: 0.75rem;
    height: 0.75rem;
    bottom: 0px;
    right: 0px;
    font-size: 0.5rem;
  }
  &-lg {
    width: 1rem;
    height: 1rem;
    bottom: 1px;
    right: 1px;
    font-size: 0.5rem;
  }
  &-xl {
    width: 1.5rem;
    height: 1.5rem;
    bottom: 1px;
    right: 1px;
    font-size: 0.75rem;
  }
  &-2xl {
    width: 1.75rem;
    height: 1.75rem;
    bottom: 1px;
    right: 1px;
  }

  &-available {
    background-color: #22c55e;
  }
  &-busy {
    background-color: #ef4444;
  }
  &-idle {
    background-color: #fde047;
  }
}

.icon-badge-stack {
  position: relative;
  display: inline-block;
  height: fit-content;
  overflow: visible;
  .icon {
    font-size: 2.25rem;
    margin-top: 3px;
  }
}

.icon-badge {
  position: absolute;
  border-radius: 100%;
  border: 2px solid var(--color-background-2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: var(--color-background-2);
  width: 1.2rem;
  height: 1.2rem;
  top: 0px;
  right: -2px;
  font-size: 0.675rem;
  &-dark {
    border: 2px solid var(--color-primary-base);
    color: var(--color-primary-base);
  }
}

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.125rem 1.875rem;
  min-width: 10rem;
  font-weight: 500;
  text-transform: uppercase;
  // border-radius: 2rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--color-primary-base);

  &-large {
    padding: 30px 36px;
    min-width: 20rem;
  }

  &-small {
    padding: 0.75rem 1rem;
    min-width: 6rem;
  }

  &-solid {
    background-color: var(--color-primary-base);
    border: 2px solid var(--color-primary-base);
    color: white;
    @media (hover: hover) {
      &:hover {
        background-color: rgba(#1a3043, 0.8);
        border-color: rgba(#1a3043, 0.8);
        transition: background-color 0.25s ease-in;
      }
    }
  }

  &-solid-light {
    color: var(--color-primary-base);
    background-color: white;
    @media (hover: hover) {
      &:hover {
        background-color: rgba(#fff, 0.9);
        transition: background-color 0.25s ease-in;
      }
    }
  }

  &-outlined {
    border: 2px solid var(--color-primary-base);
    @media (hover: hover) {
      &:hover {
        background-color: var(--color-primary-base);
        color: white;
        transition: 0.2s ease-in;
      }
    }
  }

  &-ghost {
    @media (hover: hover) {
      &:hover {
        background-color: var(--color-primary-base-10);
        transition: background-color 0.25s ease-in;
      }
    }
  }
  &-link {
    @media (hover: hover) {
      &:hover {
        opacity: 0.6;
        transition: opacity 0.25s ease-in-out;
      }
    }
  }

  &-icon-left {
    margin-right: 0.75rem;
  }
  &-icon-right {
    margin-left: 0.75rem;
  }
  &-icon {
    min-width: fit-content;
    > span {
      margin: auto;
    }
  }
}

.card-container {
  position: relative;
}

.card-text-overlay {
  display: flex;
  place-items: center;
  position: absolute;
  background-color: rgba(#000000, 0.8);
  width: 100%;
  height: 20rem;
  margin-top: -2rem;
  z-index: 99;
  > span {
    margin: auto;
    font-size: 3rem;
    color: white;
    opacity: 1;
  }
}

.modal {
  max-width: 30rem;
}

.card {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  // background-color: var(--color-background-3);
  // box-shadow: 1rem 1rem 10rem 0 RGB(#000/0.5);
  width: 100%;
  max-height: 20rem;
  height: auto;
  @media screen and (max-width: 640px) {
    max-height: 14rem;
  }

  &-alt {
    flex-direction: row;
    max-height: 100%;
    margin: 3rem 0;

    > img {
      width: 25%;
      object-fit: cover;
      max-height: fit-content;
    }

    > div {
      padding: 1rem;
    }

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      > img {
        width: 100%;
      }
    }
  }

  &-stats {
    margin-top: 0.75rem;
  }

  &-badge {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    text-transform: uppercase;
    background-color: var(--color-primary-base);
    color: white;
    padding: 0.5rem 1.25rem;

    &-secondary {
      color: #1a3043;
      font-weight: 600;
      background-color: inherit;
      border: 0px;
      cursor: pointer;
    }
  }

  &-image {
    max-height: 20rem;
    max-width: 12.5rem;
    object-fit: scale-down;
    @media screen and (max-width: 640px) {
      max-height: 12rem;
      max-width: 7.5rem;
    }
  }

  &-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--color-background-3);
    padding: 1rem;
    height: 100%;
    width: 100%;
    @media screen and (max-width: 640px) {
      padding: 1rem;
    }
  }

  &-menu-btn {
    padding: 0.5rem;
    margin-left: auto;
  }

  &-subtitle {
    @extend %secondary-text-color;
    margin: 0;
    @media screen and (max-width: 640px) {
      font-size: 0.75rem;
    }
  }

  &-rating {
    font-size: 1rem;
    &-yellow {
      color: #ff9400;
    }
    &-gray {
      color: rgba(#000000, 0.2);
    }
    @media screen and (max-width: 640px) {
      display: none;
    }
  }

  &-reviews {
    @extend %secondary-text-color;
    margin: 0;
    @media screen and (max-width: 640px) {
      display: none;
    }
  }

  &-title {
    margin: 0.25rem 0;
    font-size: 1.125rem;
    line-height: 20px;
    font-weight: 600;
    color: var(--color-primary-base);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    @media screen and (max-width: 640px) {
      font-size: 1rem;
    }
  }

  &-price {
    margin: 0.5rem 0;
    font-weight: 600;
    opacity: 0.9;

    &-original {
      opacity: 0.3;
      text-decoration: line-through;
    }

    @media screen and (max-width: 640px) {
      margin: 0;
    }
  }

  &-description {
    @extend %secondary-text-color;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    @media screen and (max-width: 640px) {
      display: none;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 4rem 0;
  column-gap: 6rem;
  row-gap: 8rem;
  place-items: center;
  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
  @media screen and (max-width: 640px) {
    row-gap: 4rem;
  }
}

.grid-demo {
  grid-template-columns: 1fr;
  width: 50%;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.input {
  &:focus-visible {
    outline: none;
    border: 2px solid red;
  }

  &-label {
    display: block;
  }
  &-field {
    display: block;
    margin-bottom: 1rem;
    opacity: 0.9;
    border: none;
    padding: 1.125rem 1.875rem;
    margin-top: 0.5rem;
    width: 50%;
    @media screen and (max-width: 640px) {
      width: 100%;
    }
  }

  &-error {
    border: 2px solid red;
  }
}

.stacked-list-item {
  max-width: 800px;
  border: 1px solid rgba(#1a3043, 0.1);
}

.spaced-list-item {
  max-width: 800px;
  margin: 1rem 0;
}
